body {
    margin: 0;
    overflow: hidden;
    background-color: #000000;
  }

  .container {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: relative;
    
  }

  .left-container {
    background: #000000;
    /* padding: 10px; */
    transition: width 0.2s ease;
  }

  .middle-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #add8e6;
  }

  .top-panel,
  .bottom-panel {
    background: #b0e0e6;
    align-items: center;
    border: 1px solid #ccc;
    text-align: left;
    transition: height 0.2s ease;
  }

  .top-panel {
    background: #fff;
      border-bottom: 2px solid #ccc;
      height: 50%; /* Initial height */
      /* overflow-y: scroll; */
      background-color: #000000;
  }

  .bottom-panel {
    flex-grow: 1;
    transition: height 0.2s ease;
    overflow-y: auto;
    padding-bottom: 50px;
    background-color: #000000;
    color: aliceblue;
  }

  .divider-horizontal {
    height: 5px;
    background: #888;
    cursor: row-resize;
  }

  .divider-left {
    width: 5px;
    background: #888;
    cursor: col-resize;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 150px;
  }

  .divider-vertical {
    width: 5px;
    background: #888;
    cursor: col-resize;
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(100% - 200px); /* Initial position of the right divider */
  }

  .right-container {
    color: aliceblue;
    width: 200px;
    background: rgb(7, 7, 7);
  }

  .right-container h2{
    padding: 10px;
  }
  .right-container p{
    padding: 10px;
  }