
.folder-container {
  width: 150px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.folder {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 5px 0;
  gap: 10px;
  transition: color 0.3s ease;
}

.folder i {
  color: #333;
  transition: color 0.3s ease;
}

.folder.open i {
  color: blue;
}

.files {
  margin-left: 30px;
  display: none;
  padding-left: 10px;
  border-left: 2px solid #ccc;
}

.file {
  display: flex;
  align-items: center;
  margin: 5px 0;
  gap: 10px;
}
.folder-nav{
    height: 100vh;
    background-color: black;
    color: aliceblue;
    /* width: max-content;
    padding-right: 100px; */
}
